.myStyle {
    color: darkblue;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    border-bottom: solid aqua;
    border-top: solid aqua;
}

.secondStyle {
    font-size: 100px;
    font-weight: bold;
}